<h1>{{title}}</h1>
{{#if user}}
    <a href="/routines/add" class="btn btn-primary">Add a new routine</a>
{{/if}}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hinge</th>
            <th>Push</th>
            <th>Squat</th>
            <th>Pull</th>
            <th>Cardio</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each dataset}}
        <tr>
            <td>{{this.routineName}}</td>
            <td>Activity: {{this.hingeActivity}} Sets: {{this.hingeSets}} Reps:{{this.HingeReps}} Weight: {{this.hingeWeight}}</td>
            <td>Activity: {{this.pushActivity}} Sets: {{this.pushSets}} Reps:{{this.pushReps}} Weight: {{this.pushWeight}}</td>
            <td>Activity: {{this.squatActivity}} Sets: {{this.squatSets}} Reps:{{this.squatReps}} Weight: {{this.squatWeight}}</td>
            <td>Activity: {{this.pullActivity}} Sets: {{this.pullSets}} Reps:{{this.pullReps}} Weight: {{this.pullWeight}}</td>
            <td>Activity: {{this.cardioActivity}} Time: {{this.cardioMinutes}}</td>
            <td> 
                {{#if ../user}}
                <a href="/routines/edit/{{this._id}}" class="btn btn-info">Update</a>
                &nbsp;
                <a href="/routines/delete/{{this._id}}" class="btn btn-danger" onclick="confirmDeletion()">Delete</a>
                {{/if}}
            </td>
            
        </tr>
        {{/each}}
    </tbody>
</table>
<p>Weird test</p>